*.htm
*.log
*.log*
**/*.pyc
.DS_Store
**/.cache/
**/*.enc
**/build
*.idea/
**/*.exe
**/*.zip
**/dist/zeus
~*
**/*.ipynb
**/*.csv
.vscode/
bin/
dev*/*
*.zip
**/*.egg-info
wsdl/
.venv/
.zeus-venv/
.env
.envrc
.python-version
compose/*
**/__pycache__
**/*.sqlite
**/*.db
tags
pyrightconfig.json
*.sublime*
**/Zeus-log.txt
**/node_modules/*
**/static/dist/*
**/*.key
**/*.pem
**/docker-compose.override.*
upload/*
help_docs/site/*
**/.playwright-auth
/docker-compose.override
